<main role="main" class="container">
    <div class="jumbotron">
        <h1>Hello From Tour</h1>
        <p class="lead">This is login register</p>
        <a class="btn btn-lg btn-primary" href="#" role="button">Yoooo!</a>
    </div>
</main>